body
{
    background-image: url(ocean.png);
}

.bigbanner
{
    display: flex;
}

.bigbanner > .inbigbanner
{
    text-align: center;


}

#leftgradient
{
    background-image: linear-gradient(to right, #296e6c , #f17369);
    width: 25%;
    height: 13rem;



}

.banner
{
    text-align: center;
    font-size: 2rem;
    background-color: #f17369;
    padding: 5rem 1rem;
    width: 50%;
    height: 13rem;



    color: white;
}

#rightgradient
{
    background-image: linear-gradient(to left, #296e6c , #f17369);


    width: 25%;
    height: 13rem;
}

.textbox
{
    background-color: #eff2ef;
    margin-left: 25%;
    margin-right: 25%;
    height: 400rem;
}

.textcontent
{

    margin-left: 5%;
    margin-right: 5%;
}

.indentation
{
    margin-left: 10%;
}
