body
{
    background-image: url(ocean.png);
}

button
{
    padding: 0;
    border: solid;
    border-color: white;
    width: 3rem;
    background-color: #c6c0e0;
    color: #5091ce;
    text-align: center;
}

button:hover
{
    background-color: #f9e8fc;
}


.bigbanner
{
    display: flex;
}

.bigbanner > .inbigbanner
{
    text-align: center;


}

#leftgradient
{
    background-image: linear-gradient(to right, #296e6c , #f17369);
    width: 25%;
    height: 13rem;

}

.banner
{
    text-align: center;
    font-size: 2rem;
    background-color: #f17369;
    padding: 5rem 1rem;
    width: 50%;
    height: 13rem;

    color: white;
}

#rightgradient
{
    background-image: linear-gradient(to left, #296e6c , #f17369);
    width: 25%;
    height: 13rem;
}

#ButtonDiv
{
    padding: 2rem;
    border-color: white;
    background-color: #e3f2f7;
    text-align: center;

}


.textbox
{
    background-color: #eff2ef;
    margin-left: 25%;
    margin-right: 25%;
    height: 400rem;
}

.textcontent
{

    margin-left: 5%;
    margin-right: 5%;
}

.indentation
{
    margin-left: 10%;
}
<<<<<<< HEAD:styles.css

=======
>>>>>>> 1b6fd7258c380589d80a85b4c050fc6d22ef5770:styling.css
